.HomePage {
    height: 500px;
    width: 100%;
    background-color: #cccccc;
    background-image: url("https://wallpaperaccess.com/full/3690854.jpg");
}

.HomePageContent {
    height: 60%;
    display: grid;
    gap: 10rem;
    align-items: center;
    padding-top: 50px;
    padding-right: 200px;
    padding-left: 200px;
}

.WelcomeMessage {
    height: 10px;
    display: grid;
}

    .WelcomeMessage .Message {
        font-size: xx-large;
        color: #ffffff;
        display: grid;
        justify-content: center;
        align-items: center;
    }

.ReservationScreen {
    height: 175px;
    display: grid;
    background-color: rgba(37,43,56, 0.5);
    border-radius: 5px;
}

.ReservationInputs {
    display: grid;
    gap: 15px;
    padding-top: 10px;
    padding-left: 20px;
    align-content: center;
}

.FlightType {
    display: flex;
    gap: 1rem;
    height: 20px;
}

.FlightTypeRadioButton {
    padding: 10px;
    color: white;
    cursor: pointer;
}

    .FlightTypeRadioButton:hover {
        border-bottom: 3px solid red;
    }

.FlightInfos {
    display: flex;
    gap: 1rem;
}

.DepartureAirport {
    height: 100px;
    width: 300px;
    background-color: rgb(255, 255, 255,1);
}

.LandingAirport {
    height: 100px;
    width: 300px;
    background-color: rgb(255, 255, 255,1);
}

.AirportInput {
    height: 75px;
    width: 275px;
}

.FlightDate {
    height: 100px;
    width: 150px;
    background-color: rgba(37,43,56,1);
}

.ChoosePeople {
    height: 100px;
    width: 150px;
    background-color: rgba(37,43,56,1);
}

.FlightCheckout {
    height: 100px;
    width: 75px;
    background-color: rgba(220,30,52,255);
}
